#firstPart {
    display: flex;
    flex-direction: column;
    
    width: 100%;
   
    margin-top: 50px;
}

#secondPart {
    border: 1px solid black;
    width: 100%;
  justify-content:space-evenly;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10%;
}

#loginContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
}

#loginAccess{

gap: 10%;
}

.loginContainer{

width: 100%;
height: 100VH;
padding: 0;
margin: 0;
justify-content: space-between;
display: flex;
flex-direction: column;

}



 #login {
    cursor: pointer;
    background-color:black;
    width: 200px;
    height: 60px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 40px;
    align-items: center;    
    color: white;
    align-self: center;
    list-style-type: none;
}

#login:hover {
    background: white;
    color: black;
    font-weight: bold;
 }

 #phoneNumber:hover {

    cursor: pointer;
    color: black;
    text-decoration: underline;
 }

 .number{
    text-decoration: none;
    color: black;
 }


 #createAnAccountButton {

width: 200px;
border-radius: 25px;
border-style: hidden;
background: white;
 }

.RememberMeContainer{
 list-style-type: none;

}

 .createAnAccountButtonContainer {

width: 100%;
text-align: -webkit-center;
 }

 .createAnAccountButtonContainer:hover {

    color: white;
 }

 #rememberMe {

    margin-right: 6px;
 }