.NavText{
    
    color: white !important;
    font-size: 25px;
}

.NavText2{
    
    color: black !important;
    font-size: 25px;
}

.NavText:hover {
    color: black !important;
}

.NavText2:hover {
    color: white !important;
}